<h2 class="primary-color-white">Find the Factorial coding challenge</h2>
<div class="content-center">
  <div class="fizz-buzz-container">
  <div class="row">
  <label class="primary-color-white">Factorial</label>
  <input
  type="number"
  class="input-box input-container"
  (keyup)="getKeywordFromInput(keyword.value)"
  #keyword
/>
</div>
<div class="row">
  <label class="primary-color-white">Result</label>
  <div class="input-box result-container primary-color-white">{{factorialResult}}</div>
</div>
</div>

